html, body {
    height: 100%;
    margin: 0;
}

.leaflet-container {
    height: 300px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
}


.custom-tooltip {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    /* Example of a fixed position with custom offset */
    transform: translate(-50%, -100%); /* Center horizontally and position above the marker */
    margin-top: -10px; /* Additional offset above the marker */
    margin-left: -10px;
}

    .custom-tooltip::before {
        content: "";
        position: absolute;
        bottom: -5px; /* Align the arrow */
        left: 50%;
        transform: translateX(-50%);
        border-width: 5px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
    }


#map {
    height: 300px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.leaflet-container {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.listcontainer {
    background-color: #ffffff;
    height: 400px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.twoway {
    margin-top: 5%;
    background-color: #000000;
    height: 120px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

    .twoway li {
        background-color: #000000;
        color: #ffffff;
        text-align: center;
    }
/* Remove padding between columns at lg breakpoint */
#vehlist {
    height: 280px;
    font-size: 11px;
    color: #000;
    background-color: #ffffff;
    overflow-y: scroll;
}

.list-group-item {
    background-color: #ffffff;
    border-right: none;
    border-left: none;
    padding: 0px;
    height: 25px;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
   
}
.list-group-flush > .list-group-item {
    border-width: 1px 0px 1px;
    margin-top: 1px;
}
.sp_item {
}

.btn1 {
    margin: 2%;
    width: 60px;
    height: 30px;
    padding: 0%;
    color: #ffffff;
    background-color: #ACE1AF;
    border: 1px solid #17B169;
    margin-left: 5%
}

.btn2 {
    margin: 2%;
    width: 60px;
    height: 30px;
    padding: 0%;
    color: #ffffff;
    background-color: #fd5c63;
    border: 1px solid #AA0000;
    margin-left: 11%;
}

.vidbtn {
    float: right;
    height: 22px;
    font-size: 8pt;
}

video {
    margin-left: 2%;
    width: 130px;
    height: 30px;
}

img {
    margin-left: 14%;
    margin-top: 4%;
    width: 120px;
    height: 30px;
}

#playButton {
    display: none;
}
