
.table-scroll {
  position: relative;
  width:100%;
  z-index: 1;
  margin: auto;
  overflow: auto;
  height: 250px;
}
.table-scroll table {
  width: 100%;
  /*min-width: 1280px;*/
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}
.table-wrap {
  position: relative;
}
.table-scroll th,
.table-scroll td {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background: #fff;
  vertical-align: top;
  text-align:center;
  font-size: 9pt;
}
.table-scroll thead th {
  background: #333;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
/* safari and ios need the tfoot itself to be position:sticky also */
.table-scroll tfoot,
.table-scroll tfoot th,
.table-scroll tfoot td {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background: #666;
  color: #fff;
  z-index:4;
}

a:focus {
  background: #0099;
} /* testing links*/

th:first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 2;
  background: #ccc;
}
thead th:first-child,
tfoot th:first-child {
  z-index: 5;
}


.table-scroll thead th {
    background: #0099;
    color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}







 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  div >  span {
    font-size: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  div >  span {
    font-size: 12px;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 900px) {

div >  span {
    font-size: 13px;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1012px) {

  div >  span {
    font-size: 18px;
  }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  div >  span {
    font-size: 20px;
  }
} 


