/* _content/CVGHMI/Views/Login/Index.cshtml.rz.scp.css */
h1[b-pxizao3ch2] {
    font-size: 38px;
    color: #1877f2;
    margin-bottom: 10px;
}
p[b-pxizao3ch2] {
    font-size: 24px;
    color: #606770;
    
}


.container[b-pxizao3ch2] {
    position: relative;
    z-index: 2;
}


video[b-pxizao3ch2] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.dibo[b-pxizao3ch2] {
    border-radius: 6px;

    box-shadow: 1px 0px 1px 5px lightblue;
}

@media (max-width: 1200px) {

    h1[b-pxizao3ch2] {
        font-size: 28px;
    }

    p[b-pxizao3ch2] {
        font-size: 18px;
        
    }

}

@media (max-width: 992px) {

    h1[b-pxizao3ch2] {
        font-size: 24px;
    }

    p[b-pxizao3ch2] {
        font-size: 14px;
    }
}



@media (max-width: 768px) {
     h1[b-pxizao3ch2] {
        font-size: 30px;
    }

   p[b-pxizao3ch2] {
        font-size: 26px;
    }

    
}

@media (max-width: 480px) {
    h1[b-pxizao3ch2] {
        font-size: 28px;
    }

     p[b-pxizao3ch2] {
        font-size: 20px;
    }

   
}

/* _content/CVGHMI/Views/Organization/Index.cshtml.rz.scp.css */


.select-wrapper[b-rfplwykphp] {
    margin: 150px auto;
    max-width: 600px;
    width: calc(100% - 40px);
}

.select-pure__select[b-rfplwykphp] {
    align-items: center;
    background: #f9f9f8;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    color: #363b3e;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    justify-content: left;
    min-height: 44px;
    padding: 5px 10px;
    position: relative;
    transition: 0.2s;
    width: 100%;
}

.select-pure__options[b-rfplwykphp] {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    color: #363b3e;
    display: none;
    left: 0;
    max-height: 221px;
    overflow-y: scroll;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 5;
}

.select-pure__select--opened .select-pure__options[b-rfplwykphp] {
    display: block;
}

.select-pure__option[b-rfplwykphp] {
    background: #fff;
    border-bottom: 1px solid #e4e4e4;
    box-sizing: border-box;
    height: 44px;
    line-height: 25px;
    padding: 10px;
}

.select-pure__option--selected[b-rfplwykphp] {
    color: #e4e4e4;
    cursor: initial;
    pointer-events: none;
}

.select-pure__option--hidden[b-rfplwykphp] {
    display: none;
}

.select-pure__selected-label[b-rfplwykphp] {
    background: #5e6264;
    border-radius: 4px;
    color: #fff;
    cursor: initial;
    font-size: 10px;
    display: inline-block;
    margin: 5px 10px 5px 0;
    padding: 3px 7px;
}

    .select-pure__selected-label:last-of-type[b-rfplwykphp] {
        margin-right: 0;
    }

    .select-pure__selected-label i[b-rfplwykphp] {
        cursor: pointer;
        display: inline-block;
        margin-left: 7px;
    }

        .select-pure__selected-label i:hover[b-rfplwykphp] {
            color: #e4e4e4;
        }

.select-pure__autocomplete[b-rfplwykphp] {
    background: #f9f9f8;
    border-bottom: 1px solid #e4e4e4;
    border-left: none;
    border-right: none;
    border-top: none;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    padding: 10px;
    width: 100%;
}
/* _content/CVGHMI/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-wzmjh7lw8q] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-wzmjh7lw8q] {
  color: #0077cc;
}

.btn-primary[b-wzmjh7lw8q] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-wzmjh7lw8q], .nav-pills .show > .nav-link[b-wzmjh7lw8q] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-wzmjh7lw8q] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-wzmjh7lw8q] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-wzmjh7lw8q] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-wzmjh7lw8q] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-wzmjh7lw8q] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
