

.select-wrapper[b-rfplwykphp] {
    margin: 150px auto;
    max-width: 600px;
    width: calc(100% - 40px);
}

.select-pure__select[b-rfplwykphp] {
    align-items: center;
    background: #f9f9f8;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    color: #363b3e;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    justify-content: left;
    min-height: 44px;
    padding: 5px 10px;
    position: relative;
    transition: 0.2s;
    width: 100%;
}

.select-pure__options[b-rfplwykphp] {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    color: #363b3e;
    display: none;
    left: 0;
    max-height: 221px;
    overflow-y: scroll;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 5;
}

.select-pure__select--opened .select-pure__options[b-rfplwykphp] {
    display: block;
}

.select-pure__option[b-rfplwykphp] {
    background: #fff;
    border-bottom: 1px solid #e4e4e4;
    box-sizing: border-box;
    height: 44px;
    line-height: 25px;
    padding: 10px;
}

.select-pure__option--selected[b-rfplwykphp] {
    color: #e4e4e4;
    cursor: initial;
    pointer-events: none;
}

.select-pure__option--hidden[b-rfplwykphp] {
    display: none;
}

.select-pure__selected-label[b-rfplwykphp] {
    background: #5e6264;
    border-radius: 4px;
    color: #fff;
    cursor: initial;
    font-size: 10px;
    display: inline-block;
    margin: 5px 10px 5px 0;
    padding: 3px 7px;
}

    .select-pure__selected-label:last-of-type[b-rfplwykphp] {
        margin-right: 0;
    }

    .select-pure__selected-label i[b-rfplwykphp] {
        cursor: pointer;
        display: inline-block;
        margin-left: 7px;
    }

        .select-pure__selected-label i:hover[b-rfplwykphp] {
            color: #e4e4e4;
        }

.select-pure__autocomplete[b-rfplwykphp] {
    background: #f9f9f8;
    border-bottom: 1px solid #e4e4e4;
    border-left: none;
    border-right: none;
    border-top: none;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    padding: 10px;
    width: 100%;
}
